@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

:focus {
  outline: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* ====== MIXINS ====== */
@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}
/* ====== / MIXINS ====== */
#masthead {
  transition: 0.6s;
  padding: 10px 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
}
#masthead .logo-wrapper {
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 75px;
  display: block;
}
#masthead .logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}
#masthead .nav-wrapper {
  display: flex;
  align-items: center;
}
#masthead .nav-wrapper ul {
  width: fit-content;
  margin-left: auto;
}
#masthead .nav-wrapper ul li {
  margin-right: 25px;
}
#masthead .nav-wrapper ul li:last-of-type {
  margin-right: 0;
}
#masthead .nav-wrapper ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: 0.6s;
}
#masthead .nav-wrapper ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all 0.6s;
  opacity: 0;
}
#masthead .nav-wrapper ul li a:hover {
  color: #762222;
}
#masthead .nav-wrapper ul li a:hover::after {
  opacity: 1;
  width: 100%;
  background: #762222;
}
#masthead.sticky {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36);
  transition: 0.6s;
}

@media (max-width: 768px) {
  .main-navigation {
    position: relative;
  }
  .main-navigation .menu-mainmenu-container {
    display: none;
    position: absolute;
    right: 0;
    background: #8f1315;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
  }
  .main-navigation .menu-mainmenu-container ul {
    display: list-item;
    text-align: right;
  }
  .main-navigation .menu-mainmenu-container ul li {
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  .main-navigation .menu-mainmenu-container ul li:last-of-type {
    margin-bottom: 0;
  }
  .main-navigation #burger-icon {
    width: 25px;
    height: 22px;
    position: relative;
    margin: 0 0 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .main-navigation #burger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #8f1315;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .main-navigation #burger-icon span:nth-child(1) {
    top: 0px;
  }
  .main-navigation #burger-icon span:nth-child(2) {
    top: 9px;
  }
  .main-navigation #burger-icon span:nth-child(3) {
    top: 18px;
  }
  .main-navigation #burger-icon.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .main-navigation #burger-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .main-navigation #burger-icon.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
.hero {
  min-height: 90vh;
  position: relative;
}
.hero .content {
  position: absolute;
  max-width: 50%;
  left: 15%;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  z-index: 10;
  color: #fff;
}
.hero .content h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1;
  max-width: 10ch;
  text-align: center;
}
.hero .content p {
  font-size: 1.5rem;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 9;
}
.hero .socials {
  position: absolute;
  bottom: 85px;
  left: 7.5%;
  z-index: 99;
}
.hero .socials li {
  margin-bottom: 19px;
}
.hero .socials li:last-of-type {
  margin-bottom: 0;
}
.hero .socials li a {
  color: #fff;
  font-size: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 37px;
}
.hero .socials li a:hover {
  color: #762222;
  border-color: #762222;
}

.hero-services {
  margin-top: -110px;
  position: relative;
  z-index: 9;
}
.hero-services .single-service {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  border-radius: 34px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  overflow: hidden;
  color: #fff;
  transition: 0.6s;
}
.hero-services .single-service:hover {
  transform: scale(1.02);
}
.hero-services .single-service .img-wrapper {
  width: 100%;
  height: 285px;
}
.hero-services .single-service .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-services .single-service .content {
  background: #762222;
  padding: 70px 40px;
}
.hero-services .single-service .content h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.hero-services .single-service .content p {
  font-size: 20px;
  font-weight: 500;
}
.hero-services .section-description p {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 60px;
}
.hero-services .section-description a {
  background: #762222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  width: 320px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border: 1px solid #762222;
  transition: 0.6s;
}
.hero-services .section-description a:hover {
  background: transparent;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .hero .content {
    max-width: 100%;
    padding: 15px;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
  }
}
#featuredServices {
  margin-top: 120px;
  transition: 0.6s;
  margin-bottom: 90px;
}
#featuredServices .single-service-card {
  top: 0;
  height: 575px;
  position: relative;
  transition: 0.6s;
  width: 100%;
}
#featuredServices .single-service-card.left-box::after {
  position: absolute;
  content: "";
  right: -16px;
  top: -5%;
  width: 32px;
  height: 110%;
  background-color: #0a0a0a;
  transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
  z-index: 999;
}
#featuredServices .single-service-card h3 {
  line-height: 575px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 99;
  font-size: 100px;
  font-weight: 700;
}
#featuredServices .single-service-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #762222;
  opacity: 0.78;
}
#featuredServices .single-service-card:hover {
  cursor: pointer;
  top: -10px;
  transition: 0.6s;
}

#why-section .section-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  color: #762222;
  padding-left: 80px;
  margin-bottom: 60px;
}
#why-section .section-title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 70px;
  height: 2px;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  background: #762222;
}
#why-section .cta-box {
  padding-left: 35px;
  max-width: 75%;
  position: relative;
}
#why-section .cta-box::before {
  content: "";
  position: absolute;
  color: #535353;
  font-size: 140px;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  top: 15px;
}
#why-section .cta-box:nth-of-type(1)::before {
  content: "1";
  left: 10px;
}
#why-section .cta-box:nth-of-type(2)::before {
  content: "2";
  right: -20%;
}
#why-section .cta-box p {
  color: #fff;
  margin-bottom: 35px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
}
#why-section .cta-box p:last-of-type {
  margin-bottom: 0;
}
#why-section .cta-box:first-of-type {
  margin-bottom: 100px;
}
#why-section .cta-box a.av-btn {
  margin-top: 28px;
}

#cta-section {
  margin-top: 100px;
}
#cta-section h3 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}

body {
  background: #0a0a0a;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

a.av-btn {
  display: block;
  color: #fff;
  background: #762222;
  height: 56px;
  width: 320px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border: 2px solid #762222;
  position: relative;
}
a.av-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
}
a.av-btn:hover {
  background: transparent;
}

/*# sourceMappingURL=main.css.map */
