@import "./helpers/resets.scss";
@import "./helpers/typography.scss";
@import "./helpers/variables.scss";
@import "./helpers/helpers.scss";
@import "./layout/preloader";
@import "./layout/header";
@import "./layout/footer";
@import "./components/hero";
@import "./components/featuredServices";
@import "./components/why-section";
@import "./components/cta";
@import "./components/cta-text";
@import "./components/newsletter-section";
@import "./components/map";
@import "./pages/contact";
@import "./pages/about-us";
body {
  background: #0a0a0a;
  padding: 0;
  margin: 0 !important;
  position: relative;
  transition: 0.7s;
  left: 0;
  &.opened-mob-menu {
    left: -300px;
  }
}
* {
  transition: 0.6s;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
a {
  &.av-btn {
    display: block;
    color: #fff;
    background: $accent;
    height: 56px;
    width: 320px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    @include borderRadius(35px);
    border: 2px solid $accent;
    position: relative;
    span {
      position: absolute;
      @include abs-center();
      width: 100%;
    }
    &:hover {
      background: transparent;
    }
  }
}
@media (max-width: 600px) {
  a {
    &.av-btn {
      max-width: 100%;
    }
  }
}
