@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

:focus {
  outline: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* ====== MIXINS ====== */
@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}
/* ====== / MIXINS ====== */
.loader-wrapper {
  position: fixed;
  z-index: 1090;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 240, 240, 0.99);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36);
}

.truck-wrapper {
  height: 200px;
  width: 200px;
  border: 4px solid #762222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  background: white;
  animation: bg 0.5s linear infinite;
  /* border-bottom:3px solid #404143; */
  border-radius: 100%;
  overflow: hidden;
  box-shadow: inset 0px 0px 10px 4px rgba(0, 0, 0, 0.3), inset 0px 0px 5px 0px #762222;
}

.truck-wrapper:after {
  content: "Loading";
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #762222;
  background: #0a0a0a;
  background: -moz-linear-gradient(left, #762222 0%, #0a0a0a 100%);
  background: -webkit-linear-gradient(left, #762222 0%, #0a0a0a 100%);
  background: linear-gradient(to right, #762222 0%, #0a0a0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="##0a0a0a", endColorstr="$accent",GradientType=1 );
  color: white;
  padding-top: 8px;
  padding-bottom: 18px;
  animation: bg 3s linear infinite;
}

.truck {
  height: 110px;
  width: 150px;
  position: absolute;
  bottom: 48px;
  left: calc(50% + 10px);
  transform: translateX(-50%);
}

.truck > .truck-container {
  background: #afbdc3;
  background: -moz-linear-gradient(-45deg, #afbdc3 0%, #afbdc3 50%, #8fa3ad 51%, #8fa3ad 100%);
  background: -webkit-linear-gradient(-45deg, #afbdc3 0%, #afbdc3 50%, #8fa3ad 51%, #8fa3ad 100%);
  background: linear-gradient(135deg, #afbdc3 0%, #afbdc3 50%, #8fa3ad 51%, #8fa3ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#afbdc3", endColorstr="#8fa3ad",GradientType=1 );
  height: 50px;
  width: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  animation: container 0.4s linear infinite;
}

.truck > .glases {
  background: #28b5f5;
  background: -moz-linear-gradient(-45deg, #28b5f5 0%, #28b5f5 50%, #0299e3 52%, #0299e3 100%);
  background: -webkit-linear-gradient(-45deg, #28b5f5 0%, #28b5f5 50%, #0299e3 52%, #0299e3 100%);
  background: linear-gradient(135deg, #28b5f5 0%, #28b5f5 50%, #0299e3 52%, #0299e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#28b5f5", endColorstr="#0299e3",GradientType=1 );
  position: absolute;
  height: 25px;
  width: 25px;
  border: 4px solid #762222;
  border-bottom: none;
  top: 35px;
  left: 95px;
  border-top-right-radius: 6px;
  animation: updown-half 0.4s linear infinite;
}

.truck > .glases:after {
  content: "";
  display: block;
  background-color: #762222;
  height: 13px;
  width: 10px;
  position: absolute;
  right: -10px;
  bottom: 0px;
  border-radius: 10px/15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.truck > .glases:before {
  content: "";
  display: block;
  background-color: #762222;
  height: 12px;
  width: 16px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-top-right-radius: 4px;
}

.truck > .bonet {
  background-color: #762222;
  position: absolute;
  width: 124px;
  height: 15px;
  top: 64px;
  left: 10px;
  z-index: -1;
  animation: updown 0.4s linear infinite;
}

.truck > .bonet:after {
  content: "";
  display: block;
  background: white;
  background: -moz-linear-gradient(-45deg, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(-45deg, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: linear-gradient(135deg, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#f6f6f6",GradientType=1 );
  height: 10px;
  width: 6px;
  position: absolute;
  right: 0px;
  bottom: 2px;
  border-top-left-radius: 4px;
}

.truck > .base {
  position: absolute;
  background-color: #445a64;
  width: 106px;
  height: 15px;
  border-top-right-radius: 10px;
  top: 70px;
  left: 14px;
  animation: updown 0.4s linear infinite;
}

.truck > .base:before {
  content: "";
  display: block;
  background-color: #e54a18;
  height: 12px;
  width: 5px;
  position: absolute;
  left: -4px;
  bottom: 0px;
  border-bottom-left-radius: 4px;
}

.truck > .base:after {
  content: "";
  display: block;
  background-color: RGB(84, 110, 122);
  height: 10px;
  width: 20px;
  position: absolute;
  right: -16px;
  bottom: 0px;
  border-bottom-right-radius: 4px;
  z-index: -1;
}

.truck > .base-aux {
  width: 82px;
  height: 8px;
  background-color: #762222;
  position: absolute;
  top: 65px;
  left: 14px;
  border-bottom-right-radius: 4px;
  animation: updown 0.4s linear infinite;
}

.truck > .wheel-back {
  left: 20px;
}

.truck > .wheel-front {
  left: 95px;
}

.truck > .wheel-back,
.truck > .wheel-front {
  border-radius: 100%;
  position: absolute;
  background: #546e7a;
  background: -moz-linear-gradient(-45deg, #546e7a 0%, #546e7a 49%, #445a64 52%, #445a64 100%);
  background: -webkit-linear-gradient(-45deg, #546e7a 0%, #546e7a 49%, #445a64 52%, #445a64 100%);
  background: linear-gradient(135deg, #546e7a 0%, #546e7a 49%, #445a64 52%, #445a64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#546e7a", endColorstr="#445a64",GradientType=1 );
  top: 80px;
  height: 22px;
  width: 22px;
  animation: spin 0.6s linear infinite;
}

.truck > .wheel-back:before,
.truck > .wheel-front:before {
  content: "";
  border-radius: 100%;
  left: 5px;
  top: 5px;
  position: absolute;
  background: #afbdc3;
  background: -moz-linear-gradient(-45deg, #afbdc3 0%, #afbdc3 50%, #8fa3ad 51%, #8fa3ad 100%);
  background: -webkit-linear-gradient(-45deg, #afbdc3 0%, #afbdc3 50%, #8fa3ad 51%, #8fa3ad 100%);
  background: linear-gradient(135deg, #afbdc3 0%, #afbdc3 50%, #8fa3ad 51%, #8fa3ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#afbdc3", endColorstr="#8fa3ad",GradientType=1 );
  height: 12px;
  width: 12px;
}

@keyframes spin {
  50% {
    top: 81px;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes container {
  30% {
    transform: rotate(1deg);
  }
  50% {
    top: 11px;
  }
  70% {
    top: 10px;
    transform: rotate(-1deg);
  }
}
.truck > .smoke {
  position: absolute;
  background-color: #afbdc3;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  top: 90px;
  left: 6px;
  animation: fade 0.4s linear infinite;
  opacity: 0;
}

.truck > .smoke:after {
  content: "";
  position: absolute;
  background-color: RGB(143, 163, 173);
  border-radius: 100%;
  width: 6px;
  height: 6px;
  top: -4px;
  left: 4px;
}

.truck > .smoke:before {
  content: "";
  position: absolute;
  background-color: RGB(143, 163, 173);
  border-radius: 100%;
  width: 4px;
  height: 4px;
  top: -2px;
  left: 0px;
}

@keyframes fade {
  30% {
    opacity: 0.3;
    left: 7px;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  70% {
    opacity: 0.1;
    left: 4px;
  }
  90% {
    opacity: 0.4;
    left: 2px;
  }
}
@keyframes bg {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -400px;
  }
}
@keyframes updown {
  50% {
    transform: translateY(-20%);
  }
  70% {
    transform: translateY(-10%);
  }
}
@keyframes updown-half {
  50% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(-5%);
  }
}
#masthead {
  transition: 0.6s;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#masthead .logo-wrapper {
  width: 270px;
  max-width: 270px;
  height: 75px;
  max-height: 75px;
  display: block;
  margin-right: auto;
}
#masthead .logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
#masthead a.av-btn {
  height: 45px;
  width: 200px;
  font-size: 22px;
  margin-left: auto;
}
#masthead .main-navigation {
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}
#masthead #primary-menu {
  width: fit-content;
  margin: 0 auto;
}
#masthead #primary-menu li {
  margin-right: 25px;
}
#masthead #primary-menu li:last-of-type {
  margin-right: 0;
}
#masthead #primary-menu li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: 0.6s;
}
#masthead #primary-menu li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all 0.6s;
  opacity: 0;
}
#masthead #primary-menu li a:hover {
  color: #762222;
}
#masthead #primary-menu li a:hover::after {
  opacity: 1;
  width: 100%;
  background: #762222;
}
#masthead.sticky {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36);
  transition: 0.6s;
}
#masthead.sticky #primary-menu li a {
  color: #762222;
}

.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

#mobile-menu {
  display: block;
  position: fixed;
  transition: 0.6s;
  right: -300px;
  background-color: #762222;
  z-index: 999999;
  width: 300px;
  height: 100%;
  padding: 0 15px;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.36);
}
#mobile-menu .close-wrapper {
  margin: 0 -15px 35px -15px;
  background: #581818;
  height: 60px;
}
#mobile-menu .close-wrapper a {
  display: block;
  width: fit-content;
  line-height: 60px;
  padding: 0 10px;
  margin-left: auto;
  font-size: 3rem;
  color: #fff;
  font-weight: 100;
}
#mobile-menu.opened-mob-menu {
  right: 0;
  transition: 0.6s;
}
#mobile-menu ul li {
  margin-bottom: 35px;
  text-align: center;
}
#mobile-menu ul li:last-of-type {
  margin-bottom: 0;
}
#mobile-menu ul li a {
  color: #fff;
}
#mobile-menu .socials {
  margin: 35px auto 5px auto;
  width: fit-content;
}
#mobile-menu .socials li {
  margin-right: 10px;
}
#mobile-menu .socials li:last-of-type {
  margin-right: 0;
}
#mobile-menu .socials li a {
  color: #fff;
  font-size: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 37px;
}
#mobile-menu a.av-btn {
  background: #fff;
  color: #762222;
  height: 50px;
  margin-top: 35px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #masthead {
    padding: 10px 5px;
  }
  #masthead .logo-wrapper {
    margin-right: 0;
  }
  #masthead a.av-btn,
#masthead #primary-menu {
    display: none;
  }
  #masthead .main-navigation {
    position: fixed;
    left: auto;
    right: 5%;
    transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -webkit-transform: translate(0, 0%);
  }
  #masthead .main-navigation #burger-icon {
    width: 25px;
    height: 22px;
    position: relative;
    margin: 0 0 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #masthead .main-navigation #burger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #8f1315;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #masthead .main-navigation #burger-icon span:nth-child(1) {
    top: 0px;
  }
  #masthead .main-navigation #burger-icon span:nth-child(2) {
    top: 9px;
  }
  #masthead .main-navigation #burger-icon span:nth-child(3) {
    top: 18px;
  }
  #masthead .main-navigation #burger-icon.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #masthead .main-navigation #burger-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #masthead .main-navigation #burger-icon.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
.main-footer {
  padding-top: 55px;
  box-shadow: inset 0px 6px 3px 0 rgba(0, 0, 0, 0.36);
}
.main-footer .logo-wrapper {
  max-width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-footer p {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 15px;
}
.main-footer p:last-of-type {
  margin-bottom: 0;
}
.main-footer p a {
  color: inherit;
  text-decoration: underline;
}
.main-footer .socials {
  width: fit-content;
  margin: 25px auto 0 auto;
}
.main-footer .socials li {
  margin-right: 15px;
}
.main-footer .socials li:last-of-type {
  margin-right: 0;
}
.main-footer .socials li a {
  color: #fff;
  font-size: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 37px;
}

#copy-bar {
  background: #000;
}
#copy-bar p {
  color: #fff;
  line-height: 70px;
  text-align: center;
  font-weight: 100;
}

#to-top-btn {
  display: none;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background: #762222;
  position: fixed;
  right: 3%;
  bottom: 3%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
}
#to-top-btn a i {
  background: #762222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
#to-top-btn:hover i {
  background: #fff;
  color: #762222;
}

.hero {
  min-height: 90vh;
  position: relative;
}
.hero .content {
  position: absolute;
  max-width: 50%;
  left: 15%;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  z-index: 10;
  color: #fff;
}
.hero .content h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.1;
  max-width: 10ch;
  text-align: center;
}
.hero .content p {
  font-size: 1.5rem;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 9;
}
.hero .socials {
  position: absolute;
  bottom: 85px;
  left: 7.5%;
  z-index: 99;
}
.hero .socials li {
  margin-bottom: 19px;
}
.hero .socials li:last-of-type {
  margin-bottom: 0;
}
.hero .socials li a {
  color: #fff;
  font-size: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 37px;
}
.hero .socials li a:hover {
  color: #762222;
  border-color: #762222;
}
.hero.single-hero {
  min-height: 45vh;
}
.hero.single-hero .content {
  width: 100%;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  max-width: 100%;
}
.hero.single-hero .content h2 {
  max-width: 100%;
}

.hero-services {
  margin-top: -110px;
  position: relative;
  z-index: 9;
}
.hero-services .single-service {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
  background: #762222;
  transition: 0.6s;
  border-top-left-radius: 34px;
  -moz-border-top-left-radius: 34px;
  -webkit-border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  -moz-border-top-right-radius: 34px;
  -webkit-border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  -moz-border-bottom-left-radius: 34px;
  -webkit-border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  -moz-border-bottom-right-radius: 34px;
  -webkit-border-bottom-right-radius: 34px;
}
.hero-services .single-service:hover {
  transform: scale(1.02);
}
.hero-services .single-service .img-wrapper {
  width: 100%;
  height: 285px;
  overflow: hidden;
}
.hero-services .single-service .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-services .single-service .content {
  padding: 70px 40px;
}
.hero-services .single-service .content h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.hero-services .single-service .content p {
  font-size: 20px;
  font-weight: 500;
}
.hero-services .section-description p {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 60px;
}
.hero-services .section-description a {
  background: #762222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  width: 320px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border: 1px solid #762222;
  transition: 0.6s;
}
.hero-services .section-description a:hover {
  background: transparent;
}

@media (max-width: 1440px) {
  .hero .socials {
    left: 1.5%;
  }
}
@media (max-width: 1024px) {
  .hero-services .single-service .content {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .hero.single-hero .content {
    max-width: 100%;
    padding: 15px;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .hero .content {
    max-width: 100%;
    padding: 15px;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
  }
  .hero .socials {
    display: flex;
    left: 50%;
    transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    margin-bottom: 35px;
  }
  .hero .socials li {
    margin-right: 15px;
  }
  .hero .socials li:last-of-type {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .hero .content h2 {
    font-size: 3rem;
  }

  .hero-services .single-service .img-wrapper {
    height: 165px;
  }
}
@media (max-width: 375px) {
  .hero .content h2 {
    font-size: 2.5rem;
  }
}
#featuredServices {
  margin-top: 120px;
  transition: 0.6s;
  margin-bottom: 90px;
}
#featuredServices .single-service-card {
  top: 0;
  height: 575px;
  position: relative;
  transition: 0.6s;
  width: 100%;
}
#featuredServices .single-service-card.left-box::after {
  position: absolute;
  content: "";
  right: -16px;
  top: -5%;
  width: 32px;
  height: 110%;
  background-color: #0a0a0a;
  transform: skew(-3deg);
  -webkit-transform: skew(-3deg);
  z-index: 999;
}
#featuredServices .single-service-card h3 {
  line-height: 575px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 99;
  font-size: 100px;
  font-weight: 700;
}
#featuredServices .single-service-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #762222;
  opacity: 0.78;
}
#featuredServices .single-service-card:hover {
  cursor: pointer;
  top: -10px;
  transition: 0.6s;
}

@media (max-width: 1440px) {
  #featuredServices .single-service-card h3 {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  #featuredServices .single-service-card {
    padding: 120px 0;
    height: auto;
  }
  #featuredServices .single-service-card h3 {
    line-height: 1;
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  #featuredServices .single-service-card.left-box::after {
    display: none;
  }
}
#why-section .section-title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  color: #762222;
  padding-left: 80px;
  margin-bottom: 60px;
}
#why-section .section-title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 70px;
  height: 2px;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  background: #762222;
}
#why-section .cta-box {
  padding-left: 35px;
  max-width: 75%;
  position: relative;
}
#why-section .cta-box::before {
  content: "";
  position: absolute;
  color: #535353;
  font-size: 140px;
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  top: 15px;
}
#why-section .cta-box:nth-of-type(1)::before {
  content: "1";
  left: 10px;
}
#why-section .cta-box:nth-of-type(2)::before {
  content: "2";
  right: -20%;
}
#why-section .cta-box p {
  color: #fff;
  margin-bottom: 35px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
}
#why-section .cta-box p:last-of-type {
  margin-bottom: 0;
}
#why-section .cta-box:first-of-type {
  margin-bottom: 100px;
}
#why-section .cta-box a.av-btn {
  margin-top: 28px;
}

@media (max-width: 768px) {
  #why-section .section-title {
    margin-top: 25px;
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  #why-section .cta-box {
    max-width: 100%;
  }
  #why-section .cta-box::before {
    opacity: 0.5;
  }
  #why-section .cta-box:first-of-type {
    margin-bottom: 50px;
  }
  #why-section .cta-box:nth-of-type(2) {
    text-align: right !important;
  }
  #why-section .cta-box:nth-of-type(2)::before {
    left: 10px;
    right: auto;
  }
  #why-section .cta-box p {
    font-size: 18px;
  }
  #why-section .cta-box p br {
    display: none;
  }
  #why-section .cta-box a.av-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
#cta-section {
  margin-top: 100px;
  min-height: 55vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
#cta-section .cta-content {
  margin-left: 25%;
}
#cta-section .cta-content h3 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}
#cta-section .cta-content a.av-btn {
  transition: 0.6s;
}
#cta-section .cta-content a.av-btn:hover {
  background: #762222;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  #cta-section .cta-content {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  #cta-section .cta-content h3 {
    font-size: 3rem;
  }
  #cta-section .cta-content a.av-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
#cta-text {
  color: #fff;
}
#cta-text .row {
  min-height: 55vh;
}
#cta-text h4 {
  color: inherit;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1;
}
#cta-text p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin-left: 100px;
}

@media (max-width: 1366px) {
  #cta-text h4 {
    font-size: 60px;
  }
  #cta-text p {
    margin-left: 0;
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  #cta-text h4 {
    font-size: 50px;
  }
  #cta-text p {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  #cta-text h4 {
    font-size: 2rem;
  }
}
#newsletter {
  background: #1a1a1a;
  color: #fff;
  padding-top: 130px;
  padding-bottom: 120px;
}
#newsletter h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
#newsletter h5 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 45px;
}
#newsletter form #newsletter-form-wrap {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#newsletter form #newsletter-form-wrap input {
  height: 56px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
}
#newsletter form #newsletter-form-wrap input[type=email] {
  width: 445px;
  padding: 0 20px;
  color: #848484;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-top-left-radius: 16px;
  -webkit-border-top-left-radius: 16px;
  -moz-border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -moz-border-bottom-left-radius: 16px;
}
#newsletter form #newsletter-form-wrap input[type=submit] {
  border-top-right-radius: 16px;
  -webkit-border-top-right-radius: 16px;
  -moz-border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  -webkit-border-bottom-right-radius: 16px;
  -moz-border-bottom-right-radius: 16px;
  background: #762222;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  width: 220px;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 0.1em;
}
#newsletter form #newsletter-form-wrap input[type=submit]:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  #newsletter form #newsletter-form-wrap {
    display: block;
  }
  #newsletter form #newsletter-form-wrap input[type=email], #newsletter form #newsletter-form-wrap input[type=submit] {
    width: 100%;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
  }
  #newsletter form #newsletter-form-wrap input[type=submit] {
    margin-top: 25px;
    width: fit-content;
    padding: 0 35px;
  }
}
@media (max-width: 600px) {
  #newsletter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.contact-us-container {
  margin-bottom: 100px;
}
.contact-us-container h4 {
  text-align: center;
  margin: 45px auto;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.contact-us-container form {
  width: 100%;
}
.contact-us-container form input[type=text], .contact-us-container form input[type=email] {
  padding: 5px 15px;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0 auto 20px auto;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.contact-us-container form input[type=text]:focus, .contact-us-container form input[type=email]:focus {
  border-bottom: 2px solid #762222;
}
.contact-us-container form input[type=submit] {
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  padding: 10px;
  text-transform: uppercase;
  width: 300px;
  margin: 0 auto;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}
.contact-us-container form input[type=submit]:hover {
  border: 2px solid #762222;
  background: #762222;
}
.contact-us-container form textarea {
  padding: 5px 15px;
  background: transparent;
  height: 100px;
  resize: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0 auto 20px auto;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.contact-us-container form textarea:focus {
  border-bottom: 2px solid #762222;
}

@media (max-width: 320px) {
  .contact-us-container form input[type=submit] {
    max-width: 100%;
  }
}
body {
  background: #0a0a0a;
  padding: 0;
  margin: 0 !important;
  position: relative;
  transition: 0.7s;
  left: 0;
}
body.opened-mob-menu {
  left: -300px;
}

* {
  transition: 0.6s;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

a.av-btn {
  display: block;
  color: #fff;
  background: #762222;
  height: 56px;
  width: 320px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border: 2px solid #762222;
  position: relative;
}
a.av-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
}
a.av-btn:hover {
  background: transparent;
}

@media (max-width: 600px) {
  a.av-btn {
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
