.hero {
  min-height: 90vh;
  position: relative;
  .content {
    position: absolute;
    max-width: 50%;
    left: 15%;
    @include ver-center();
    z-index: 10;
    color: #fff;
    h2 {
      font-weight: $bold;
      font-size: 70px;
      line-height: 1.1;
      max-width: 14ch;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      font-size: 1.5rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 9;
  }
  .socials {
    position: absolute;
    bottom: 85px;
    left: 7.5%;
    z-index: 99;
    li {
      margin-bottom: 19px;
      &:last-of-type {
        margin-bottom: 0;
      }
      a {
        color: #fff;
        font-size: 24px;
        border: 3px solid #fff;
        @include borderRadius(50%);
        width: 40px;
        height: 40px;
        display: block;
        text-align: center;
        line-height: 37px;
        &:hover {
          color: $accent;
          border-color: $accent;
        }
      }
    }
  }
  &.single-hero {
    min-height: 45vh;
    .content {
      width: 100%;
      left: 0;
      @include ver-center();
      max-width: 100%;
      h2 {
        max-width: 100%;
      }
    }
  }
}
.hero-services {
  margin-top: -110px;
  position: relative;
  z-index: 9;
  .single-service {
    height: 100%;
    cursor: pointer;
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    background: $accent;
    transition: 0.6s;
    border-top-left-radius: 34px;
    -moz-border-top-left-radius: 34px;
    -webkit-border-top-left-radius: 34px;

    border-top-right-radius: 34px;
    -moz-border-top-right-radius: 34px;
    -webkit-border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    -moz-border-bottom-left-radius: 34px;
    -webkit-border-bottom-left-radius: 34px;

    border-bottom-right-radius: 34px;
    -moz-border-bottom-right-radius: 34px;
    -webkit-border-bottom-right-radius: 34px;
    &:hover {
      transform: scale(1.02);
    }
    .img-wrapper {
      width: 100%;
      height: 255px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .content {
      padding: 40px 10px;
      h3 {
        font-size: 28px;
        font-weight: $bold;
        // margin-bottom: 25px;
        text-align: center;
      }
      p {
        font-size: 20px;
        font-weight: $medium;
      }
    }
  }
  .section-description {
    p {
      font-size: 30px;
      font-weight: $medium;
      color: #fff;
      margin-top: 100px;
      margin-bottom: 60px;
    }
    a {
      background: $accent;
      color: #fff;
      font-size: 25px;
      font-weight: $semiBold;
      width: 320px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      display: block;
      margin: 0 auto;
      @include borderRadius(35px);
      border: 1px solid $accent;
      transition: 0.6s;
      &:hover {
        background: transparent;
      }
    }
  }
}
@media (max-width: 1440px) {
  .hero {
    .socials {
      left: 1.5%;
    }
  }
}
@media (max-width: 1024px) {
  .hero-services {
    .single-service {
      .content {
        padding: 40px;
      }
    }
  }
}
@media (max-width: 768px) {
  .hero {
    &.single-hero {
      .content {
        max-width: 100%;
        padding: 15px;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0%, 0);
        -moz-transform: translate(0%, 0);
        -webkit-transform: translate(0%, 0);
      }
    }
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .content {
      max-width: 100%;
      padding: 15px;
      position: relative;
      left: 0;
      top: 0;
      transform: translate(0%, 0);
      -moz-transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);
    }
    .socials {
      display: flex;
      @include hor-center();
      margin-bottom: 35px;
      li {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .hero .content h2 {
    font-size: 3rem;
  }
  .hero-services .single-service .img-wrapper {
    height: 165px;
  }
}
@media (max-width: 375px) {
  .hero .content h2 {
    font-size: 2.5rem;
  }
}
